Spice/boost_conv.log
Spice/boost_conv.op.raw
Spice/Draft1.log
Spice/Draft1.op.raw
Spice/Draft1.raw
Spice/boost_conv/boost_conv.log
Spice/boost_conv/boost_conv.net
Spice/boost_conv/boost_conv.op.raw
Spice/boost_conv/boost_conv.raw
Spice/pulse_attenuation/pulse_attenuation_sim.log
Spice/pulse_attenuation/pulse_attenuation_sim.plt
svg-inkscape/boost_conv_circuit_svg-tex.pdf
svg-inkscape/boost_conv_circuit_svg-tex.pdf_tex
svg-inkscape/pulse_attenuation_sim_svg-tex.pdf
svg-inkscape/pulse_attenuation_sim_svg-tex.pdf_tex
svg-inkscape/waveform_0.175ns_svg-tex.pdf
svg-inkscape/waveform_0.175ns_svg-tex.pdf_tex
svg-inkscape/waveform_1.75ns_svg-tex.pdf
svg-inkscape/waveform_1.75ns_svg-tex.pdf_tex
svg-inkscape/waveform_8.75ns_svg-tex.pdf
svg-inkscape/waveform_8.75ns_svg-tex.pdf_tex
Spice/pulse_attenuation/pulse_attenuation_sim.raw
Spice/pulse_attenuation/pulse_attenuation_sim.op.raw
Spice/pulse_attenuation/pulse_attenuation_sim.emf
Spice/pulse_attenuation/pulse_attenuation_sim_circuit.emf
Spice/pulse_attenuation/attenuation_t_rise_8750ps.emf
Spice/pulse_attenuation/attenuation_t_rise_1750ps.emf
Spice/pulse_attenuation/attenuation_t_rise_175ps.emf
Spice/pulse_attenuation/attenuation_t_rise_17.5ns.emf
Spice/boost_conv/boost_conv_sim.emf
Spice/boost_conv/boost_conv_circuit.emf
Spice/avalanche_pulse_gen/Draft2.raw
Spice/avalanche_pulse_gen/Draft2.log
Spice/avalanche_pulse_gen/Draft1.raw
Spice/avalanche_pulse_gen/avalanche_pulse_gen.raw
Spice/avalanche_pulse_gen/Draft1.log
Spice/avalanche_pulse_gen/avalanche_pulse_gen.op.raw
Spice/avalanche_pulse_gen/avalanche_pulse_gen.log
Spice/avalanche_pulse_gen/avalanche_pulse_gen_circuit.emf
svg-inkscape/pulse_attenuation_sim_svg-raw.pdf
svg-inkscape/boost_conv_sim_svg-raw.pdf
svg-inkscape/boost_conv_circuit_svg-raw.pdf
svg-inkscape/avalanche_pulse_gen_circuit_svg-raw.pdf
messdaten/messdaten_old.zip
scidavis/repetition_frequency.svg
scidavis/Characteristic_Curve_of_the_Boost_Converter.svg
svg-inkscape/repetition_frequency_mod_svg-raw.pdf
Spice/pulse_attenuation/pulse_attenuation_sim_circuit.svg
svg-inkscape/Characteristic_Curve_of_the_Boost_Converter_mod_svg-raw.pdf
scidavis/Characteristic Curve of the Boost Converter.sciprj~
scidavis/Repetition Frequency.sciprj~
Phys_Praktikum_3_xx.aux
Phys_Praktikum_3_xx.bbl
Phys_Praktikum_3_xx.bcf
Phys_Praktikum_3_xx.blg
Phys_Praktikum_3_xx.fdb_latexmk
Phys_Praktikum_3_xx.fls
Phys_Praktikum_3_xx.ilg
Phys_Praktikum_3_xx.lof
Phys_Praktikum_3_xx.log
Phys_Praktikum_3_xx.lot
Phys_Praktikum_3_xx.run.xml
Phys_Praktikum_3_xx.synctex.gz
Phys_Praktikum_3_xx.synctex(busy)
Phys_Praktikum_3_xx.toc
.vscode/ltex.dictionary.en-US.txt
Phys_Praktikum_3_xx.bcf
Phys_Praktikum_3_xx.ilg
Phys_Praktikum_3_xx.run.xml
Phys_Praktikum_3_xx.synctex.gz
chapters/1_einleitung.tex
Phys_Praktikum_3_xx.bcf
svg-inkscape/dummy_svg-raw.pdf
svg-inkscape/pulse_attenuation_sim_circuit_svg-raw.pdf
Phys_Praktikum_3_xx.synctex.gz
